<% if shop_user.errors.present? %>
<ul>
	<%= shop_user.errors.full_messages.each do |message| %>
<li><%= message %></li>
</ul>
<% end %>
<% end %>


<%= form_with model: shop_user,class: "width-table", local: true do |f| %>
<table class="table" border="3" bordercolor="black">
	<tr>
		<th>

<P>店舗名</P>
<%= f.text_field :shop_name, class: 'form-control' %><br>
<p>代表者名</p>
<%= f.text_field :owner, class: 'form-control' %><br>
<p>店舗のアイコン画像<p>
<%= f.file_field :image, class: 'form-control' %>
<p>メールアドレス</p>
<%= f.text_field :email, class: 'form-control' %><br>
<p>電話番号</p>
<%= f.text_field :phone_number, class: 'form-control' %><br>
<p>住所</p>
<%= f.text_field :shop_address, class: 'form-control' %><br>
<p>パスワード</p>
<%= f.password_field :password, class: 'form-control' %>
<p>パスワード確認</p>
<%= f.password_field :password_confirmation,class: 'form-control' %>
<%= f.submit '登録する', class: 'btn btn-primary' %>

<% end %>
</th>
</tr>
</table>