<h1>店舗情報</h1>
<%= link_to 'ホームへ',communities_path, class: 'btn btn-danger' %>

<table  class="table table-width" border="3" bordercolor="black">
	<tr>
		<th>店舗名</th>
		<td><%= @shop_user.shop_name %></td>
	</tr>
	<tr>
		<th>代表者名</th>
		<td><%= @shop_user.owner %></td>
	</tr>
	<tr>
		<th>店舗画像</th>
		<td><%= image_tag @shop_user.image, class: "#" if @shop_user.image.attached?  %></td>
	</tr>
	<tr>
		<th>メールアドレス</th>
		<td><%= @shop_user.email %></td>
	</tr>
	<tr>
		<th>電話番号</th>
		<td><%= @shop_user.phone_number %></td>
	</tr>
	<tr>
		<th>住所</th>
		<td><%= @shop_user.shop_address %></td>
	</tr>
	<!-- <tr>
		<th>管理者権限</th>
		<td><%#= @user.admin? ? 'あり' : 'なし' %></td>
	</tr> -->
	<!-- <tr>
		<th>登録日</th>
		<td><%#= @user.created_at %></td>
	</tr>
	<tr>
		<th>更新日</th>
		<td><%#= @user.updated_at %></td>
	</tr> -->

</table>


<h1>店舗情報変更</h1>

<%= render partial: 'shop', locals: { shop_user: @shop_user } %>
