<div class="background">

<h1>COOPルーム作成</h1>

<%= form_with model: @room,class: "width-table", local: true do |f| %>
<table class="table" border="3" bordercolor="black">
	<tr>
		<th>
<h3>ルーム名</h3>
<%= f.text_area :room_name, class: 'form-control'%>
<h3>画像投稿</h3>
<%= f.file_field :images, class: 'form-control', multiple: true %>
<br>

<%= f.submit 'COOPルーム作成', class: 'btn btn-primary btn-width' %>

<% end %>
<h3>商品キーワード</h3>
<% @key_words.each do |key_word| %>
[ <%= key_word.key_word %> : <%= key_word.product_price %>円 ]<% end %>
</th>
</tr>
</table>

<%= form_with model: @key_word,class: "room-width", local: true do |f| %>

<table class="table" border="3" bordercolor="black">
	<tr>
		<th>
<h3>商品キーワードを入力</h3>
<%= f.text_field :key_word, class: 'form-control'%><br>
<%= f.number_field :product_price %> :円　<br>
<br>
<%= f.number_field :product_stock %>
<!-- <h3>商品画像</h3>
<%#= f.file_field :images, class: 'form-control', multiple: true %>
<br>
 -->
<%= f.submit 'キーワードを入力', class: 'btn btn-primary btn-width' %>

<% end %>

</th>
</tr>
</table>
<br>
<br>
<br>
<br>
<br>
<br>

</div>



