<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample7">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">
				coopルーム
			</a>
		</div>

		<div class="collapse navbar-collapse" id="navbarEexample7">
			<ul class="nav navbar-nav">
				<li><%= link_to picture_index_path do %>お店一覧<% end %></li>
				<li class="active"><%= link_to rooms_path do %>ルーム一覧<% end %></li>
				<li><%= link_to communities_path do %>ホームへ戻る<% end %></li>
			</ul>
			<h3 class="navbar-text navbar-right">COOP</h3>
		</div>
	</div>
</nav>


<div class="background">

<h1>COOPROOM</h1>
<table class="table table-width" border="3" bordercolor="black">
	<tr>
								<th>ルームタイトル</th>
								<th>店</th>
								<th>代表者</th>
								<th>住所</th>
								<th>電話番号</th>
						</tr>

			         <% @rooms.each do |room| %>

						        <% if room.room_alert == nil %>

									<tr>
										<td>
											<%= link_to room_path(room) do %>
											<%= room.room_name %>
											<% end %>
										</td>
										<td>
											<%= room.shop_user.shop_name %>
										</td>
										<td>
											<%= room.shop_user.owner %>
										</td>
										<td>
											<%= room.shop_user.shop_address %>
										</td>
										<td>
											<%= room.shop_user.phone_number %>
										</td>
									</tr>
								<% end %>
					<% end %>

				</table>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
			</div>