<h2>購入履歴(<%= current_user.name %>さん)</h2>
<%= link_to "coopルーム",rooms_path, class: "btn btn-success " %>

<table class="table" border="3" bordercolor="black">
	<tr>
		<th>店名</th>
		<th>購入商品名</th>
		<th>値段</th>
		<th>購入数</th>
		<th>お届け先住所</th>
		<th>合計金額</th>
		<th>購入日</th>
	</tr>
	<% @buy_user.each do |buy| %>
	<tr>
		<td><%= buy.buy_shop_name %></td>
		<td><%= buy.buy_product %></td>
		<td><%= buy.price %> 円</td>
		<td><%= buy.buy_stock %></td>
		<td><%= buy.buy_user_address %></td>
		<td><%= buy.price_total %> 円</td>
		<% time = buy.created_at.in_time_zone('Asia/Tokyo') %>
			<td><%= time.strftime('%Y年%m月%d日 %H時%M分%S秒') %></td>
	</tr>
	<% end %>
</table>