<% if user.errors.present? %>
<ul>
	<%= user.errors.full_messages.each do |message| %>
<li><%= message %></li>
</ul>
<% end %>

<%= form_with model: [:admin, @user], local: true do |f| %>

<P>名前</P>
<%= f.text_field :name, class: 'form-control' %>
<p>メールアドレス</p>
<%= f.text_field :email, class: 'form-control' %><br>
<%= f.check_box :admin, class: 'form-check-input'%>|管理者権限
<p>パスワード</p>
<%= f.password_field :password, class: 'form-control' %>
<p>パスワード確認</p>
<%= f.password_field :password_confirmation,class: 'form-control' %>
<%= f.submit '登録する', class: 'btn btn-primary' %>

<% end %>