<header>
	<h1 class="headline">
	<div class="home">COOP</a>
    </h1>
</header>

<nav>
	<ul class="nav-list">
		<%= link_to new_admin_user_path do %>|<li class="nav-list-item">会員登録</li>|<% end %>
		<%= link_to new_shop_user_path do %><li class="nav-list-item">店舗登録</li>|<% end %>
		<li class="nav-list-item">宅配ドライバー登録</li>|
		<% if current_shop %>
		<li class="nav-list-item">使用方法</li>|
		<% end %>
		<% if current_user %>
		<li class="nav-list-item">COOPとは</li>|
		<% end %>
		<li class="nav-list-item">登録地域・店舗</li>|
		<%= link_to login_path do %><li class="nav-list-item">ログイン</li>|<% end %>
		<%= link_to logout_path, method: :delete do %><li class="nav-list-item">ログアウト</li>|<% end %>

	</ul>
</nav>

<div class="main-visual1">
	<br>
	<div class="text-flame4"><h5 class="text">商品情報を説明</h5></div>
	<div class="text-flame1"><h5 class="text">商品を購入</h5></div>
	<div class="size"><%= icon("fas", "store")%></div>
	<div class="size2"><%= icon("fas", "arrows-alt-h")%></div>
	<div class="size2"><%= icon("fas", "user")%></div>
	<div class="size"><%= icon("fas", "truck")%></div>
	<div class="size2"><%= icon("fas", "angle-double-right")%></div>
		<%#= icon("fas", "dollar-sign")%>
	<div class="size2"><%= icon("fas", "home")%></div>
	<div class="text-flame5"><h4 class="text">自宅へお届け</h4></div>
	<div class="main-visual-content1"></div>
</div>

<div class="main-visual2">
	<div>
	<i class="far fa-comment status1"></i>
	<i class="far fa-comment status2"></i>
	<i class="fas fa-store status3"></i>
	<i class="fas fa-user status4"></i>
	<i class="fas fa-user status5"></i>
	<i class="fas fa-user status6"></i>
	<i class="far fa-comment-dots status7"></i>
	<i class="far fa-comment-dots status8"></i>
	<i class="fas fa-arrows-alt-v status9"></i>
	<i class="fas fa-arrows-alt-v status10"></i>
	<i class="fas fa-arrows-alt-v status11"></i>
	<i class="fas fa-mobile-alt status16"></i>
	<i class="fas fa-mobile-alt status17"></i>
	<i class="fas fa-mobile-alt status18"></i>
    </div>
	<br>
	<div class="text-position1"><h2>Point.1</h2></div><br>
	<div class="text-flame2"><h3 class="text">店舗コミュニティ内で</h3></div>
	<br>
    <div class="text-flame2"><h3 class="text">[商品名+"購入"]と送信すると購入完了。</h3></div><br>
    <div class="text-position box1">※[商品名+購入]と送信すれば購入完了。ご自宅に商品が届きますので、お間違いのないようご注意ください</div>
	<div class="main-visual-content2"></div>
</div>

<div class="main-visual3">
	<i class="fas fa-truck status12"></i>
	<i class="fas fa-angle-double-right status13"></i>
	<i class="fas fa-home status14"></i>
	<div class="text-position3"><h2>Point.2</h2></div><br>
	<div class="text-flame3"><h3 class="text">購入商品を1時間以内に</h3></div>
	<br>
    <div class="text-flame3"><h3 class="text">ご自宅へ郵送</h3></div><br>
    <div class="text-position2 box1">※購入店舗から自宅までの距離が10km以上の場合、<br>1時間を超える場合がございます。</div>
	<div class="main-visual-content3"></div>
</div>

<div class="main-visual2">
	<i class="far fa-handshake status15"></i>
	<br>
	<br>
	<div class="text-position4"><h2>Point.3</h2></div>
	<br>
	<div class="text-flame2"><h3 class="text">会員登録費：無料</h3></div>
	<br>
    <div class="text-flame2"><h3 class="text">店舗登録費：1000/円</h3></div>
    <br><div class="text-flame2"><h3 class="text">宅配ドライバー登録費：無料</h3></div>
    <br>
    <div class="text-position box1">※[商品名+購入]と送信すれば購入が完了し、ご自宅の方に届きますので、お間違いのないようご注意ください</div>
	<div class="main-visual-content2"></div>
</div>

<!-- <div class="main clearfix">
	<div class="main-left"></div>
	<div class="main-right"></div>
</div>-->
<footer>
	<p class="footer-text">© All rights reserved by coop</p>
</footer>
